* {
    margin: 0;
    padding: 0;
}

body {
    background: wheat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-weight: 600;
    font-style: oblique;
    color:#bbb;
}

.container {
    box-shadow: 0px 0px 3px 0px rgb(189, 189, 189);
    background: transparent;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

#display {
    width: 16.25rem;
    height: 20px;
    background: rgb(61, 61, 61);
    text-align: right;
    padding: 8px 20px;
    font-size: calc(1.2em * 1.2);
    color: #fff;
    animation: slideTop 2s ease;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, auto);
    border: none;
    background-color: aquamarine;
    grid-gap: 2px;
    padding: 5px;
}

button {
    padding: 10px;
    color: #333;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.del,
.equal {
    background: green;
    color: #fff;
    transition: background .3s ease-in;
}

.del:focus,
.equal:focus {
    background: rgb(10, 160, 42);
}

.number {
    background: #7e7e7e;
    color: aquamarine;
    animation: slideLeft 2s ease;
}

.number:focus {
    background: #333;
}

.operator {
    background: #fd6129;
    color: #fff;
    animation: slideRight 2s ease;
}

.operator:focus {
    background: #ce4817;
}

.clear {
    background-color: #d62e58;
    color: #fff;
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }

}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(-100%);
    }

}
/* phone media query */
@media (max-width:480px) {
    body {
        background: salmon;
    }
}
/* tablet media query */
@media (min-width:481px) and (max-width:990px) {
    body {
        background: rgb(13, 105, 117);
    }
}
/* laptop media query */
@media (min-width:991px) and (max-width:1200px) {
    body {
        background: #97045b;
    }
}
/* Desktop media query */
@media (min-width:1201px) {
    body {
        background: seagreen;
    }
}